* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, #1e293b, #020617);
}

header h1 {
    margin: 0;
    font-size: 32px;
    letter-spacing: 1px;
}

header h2 {
    margin-top: 6px;
    font-size: 14px;
    color: #94a3b8;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  background: #0b0b14;
}

.logo {
  width:100px;      
  height: auto;     
}

section {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.card {
  background: #111;
  padding: 25px;
  border-radius: 16px;
  max-width: 700px;
}

.card h2 {
  margin-bottom: 20px;
  color: #ff7bd5;
}

ol {
  padding-left: 20px;
}

li {
  margin-bottom: 18px;
}

.player {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.role-icon {
  width: 22px;
  height: 22px;
}

.ign {
  font-size: 12px;
  opacity: 0.7;
  margin-left: 30px;
}

.hero-popup {
  position: absolute;
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  align-items: flex-start;
  display: flex;
  gap: 12px;

  background: rgba(20, 20, 25, 0.96);
  padding: 12px;
  border-radius: 14px;
  box-shadow: 0 0 30px rgba(255, 120, 210, 0.4);

  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
  z-index: 10;
}

.hero-trigger:hover .hero-popup {
  opacity: 1;
  pointer-events: auto;
}

.hero {
  text-align: center;
  font-size: 12px;
}

.hero img {
  width: 120px;      
  height: 200px;     
  object-fit: cover; 
  border-radius: 12px;
  margin-bottom: 6px;
}


.hero p {
  margin: 0;
  font-size: 11px;
  line-height: 1.3;
  opacity: 0.85;
}

@media (max-width: 600px) {
    .hero-popup {
        flex-direction: column;
    }
}
